@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

body{
  background-color: black;
}

/*product styling*/
:root{
  --white-light: #rgba 225, 225, 225, 0.5;
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}

/* utility stylings */
img{
  width: 100%;
  display: block;
}
.container{
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
  font-family: 'roboto', sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title{
  font-weight: 2rem;
  font-family: 'roboto', sans-serif;
}
.sm-title{
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-dark{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
  text-align: center;
}

/*product section*/
.products{
background: var(--alice-blue);
padding: 3.2rem 0;
}
.products .text-light{
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}
.product{
margin: 2rem;
position: relative;
}
.product-content{
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product-img{
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}
.product-btns{
  display: flex;
  justify-content: center;
 margin-top: 1.4rem;
 opacity: 0;
 transition: opacity 0.6s ease; 
}
.btn-cart, .btn-buy{
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart{
  background: black;
  color: white;
}
.btn-cart:hover{
  background: var(--carribean-green);
}
.btn-buy{
  background: white;
}
.btn-buy:hover{
  background: var(--carribean-green);
  color: #fff;
}
.product-info{
  background: white;
  padding: 2rem;
}
.product-info-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating span{
  color: var(--carribean-green);
}
.product-name{
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.product-price{
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}
.product-price:first-of-type{
  text-decoration: line-through;
  color: var(--carribean-green);
}
.product-img img{
  transition: transform 0.6s ease;
}
.product:hover .product-img img{
  transform: scale(1.1);
}
.product:hover .product-img{
  background: var(--carribean-green);
}
.product:hover .product-btns{
  opacity: 1;
}
.off-info .sm-title{
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

/* product collection */
.product-collection{
  padding: 3.2rem 0;
}
.product-collection-wrapper{
  padding: 3.2rem 0;
}
.product-col-left{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("/product-page-main/images/pngtree-composition-of-old-photo-camera-laptop-and-slides-image_15745797.jpg") center/cover no-repeat;
}
.product-col-r-top{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("/product-page-main/images/MyCameras.jpg") center/cover no-repeat;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}
.product-col-r-bottom > div:first-child{
  background: #eaa001;
}
.product-col-r-bottom > div:last-child{
  background: #0090ff;
}
.product-col-content{
  text-align: center;
  color: white;
}
.product-collection .text-light{
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}
.btn-dark{
  background: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}
.btn-dark:hover{
  background: var(--carribean-green);
}







/* Media Queries */
@media screen and (min-width: 992px){
  .product-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px){
  .product-items{
      grid-template-columns: repeat(3, 1fr);
  }
  .product{
      margin-right: 1rem;
      margin-left: 1rem;
  }
  .products .text-light{
      width: 50%;
  }
}

@media screen and (min-width: 1336px){
  .product-items{
      grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .flex{
      height: 60vh;
  }
  .product-col-left{
      height: 121.5vh;
  }
}



/*footer*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  position: relative; bottom: -100%;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}