@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@600&display=swap');

body{
  background-color: black;
  font-family: bitcount grid double, sans-serif;
}

.container {
  background: #ffffff;
  width: 100%;
}


.navbar {
  list-style: none;
  background: #40c9a2;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

a {
  text-decoration: none;
color: #ffffff;
margin: 10px;
padding: 5px 10px;
}

a:hover {
  background-color: #ffffff;
  color: #40c9a2;
  border-radius: 5px;
}

p {
  color: #ffffff;
  font-size: 20px;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: bitcount grid double, sans-serif;
}

img {
  width: 85%;
  height: auto;
  display: flex;
  jistify-content: center;
  align-items: center;
  margin: 100px auto;
  border-radius: 5px;

}

/* Media Queries */
@media screen and (min-width: 992px){
  .product-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px){
  .product-items{
      grid-template-columns: repeat(3, 1fr);
  }
  .product{
      margin-right: 1rem;
      margin-left: 1rem;
  }
  .products .text-light{
      width: 50%;
  }
}

@media screen and (min-width: 1336px){
  .product-items{
      grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .flex{
      height: 60vh;
  }
  .product-col-left{
      height: 121.5vh;
  }
}


